.tour-highlight{
  background: transparent;
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 241, 255, 0.701961);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 241, 255, 0.701961);
  -o-box-shadow: 0px 0px 7px 0px rgba(0, 241, 255, 0.701961);
  box-shadow: 0px 0px 7px 0px rgba(0, 241, 255, 0.701961);
  border-radius: 2px;
}

/* bootstrap styles */
.tourist-popover{
  padding: 0;
  z-index: 11001 !important;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(0,0,0,.22);
  border-color: transparent;
}
.tourist-popover .popover-content{
  padding: 10px 0 0 0;
  min-width: 200px;
}
.tourist-popover .popover-content p{
  margin: 0 8px 10px 8px;
}
.tourist-popover .popover-content .action-label{
  background: rgba(0, 111, 255, 0.168627);
  font-size: 14px;
  padding: 3px 10px;
}
.tourist-popover .popover-content .tour-counter{
  margin: 0; padding: 0;
  position: absolute;
  left: 10px;
  font-size: 13px;
  color: #787878;
}
.tourist-popover .tour-buttons{
  padding: 3px 6px;
  min-height: 25px;
  background: #f5f5f5;
  border-radius: 0px 0px 6px 6px;
  box-sizing: content-box;
}
.tourist-popover .btn-close{
  color: #6a6a6a;
  border: none;
  position: absolute;
  top: 4px; right: 7px;
  padding: 0;
  opacity: .6;
  min-height: 15px;
  min-width: 15px;
}

.btn-close:hover{
  opacity: 1;	
}

.tourist-popover .btn-close:hover{
  opacity: 1;
}

/* qtip2 styles */
.qtip-tour, .qtip-tour .qtip-content{
  padding: 0;
}
.qtip-tour .qtip-content{
  padding-top: 10px;
}
.qtip-tour .qtip-content p{
  margin: 0 8px 10px 8px;
}
.qtip-tour .qtip-content .action-label{
  background: rgba(0, 111, 255, 0.168627);
  font-size: 14px;
  padding: 3px 10px;
}
.qtip-tour .qtip-content .tour-counter{
  font-size: 11px;
  color: #acacac;
}
.qtip-tour .tour-buttons{
  padding: 8px 10px;
  min-height: 28px;
  background: #f5f5f5;
  border-radius: 0px 0px 6px 6px;
  box-sizing: content-box;
}

.tour-container{
  position : relative;
  margin-top : 10px;
}

.backdrop{
  position : absolute;
  background : gray;
  opacity : 0.3;
  z-index: 11000;
}
.top{
  top : 0px;
  left : 0px;
}
.bottom{
  left : 0px;
}  
.left{
  left : 0px;
}

.btn-tourist{
    display: inline-block;
    padding: 3px 5px;
    margin: 1px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #787878;
    border: 1px solid transparent;
    border-radius: 2px;
    opacity : 0.9;
}

.btn-tourist:hover{
	background-color : #555;
}

.btn-tourist:disabled{
	background-color: #ddd;
}

.btn-tourist[disabled]:hover{
	background-color: #ddd;
    border: 1px solid transparent;
}

.btn-final{
	background-color: green;
	opacity: 0.8;'
}

.btn-final:hover{
	background-color: green;
	opacity: 1;'
}
